Repository adamgoral/fo-analytics, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fo-analytics/engineering, @fo-analytics/backend, @fo-analytics/api-team, @fo-analytics/platform-team, @fo-analytics/qa-team, @fo-analytics/frontend, @fo-analytics/ui-team, @fo-analytics/devops, @fo-analytics/documentation, @fo-analytics/security

feat: Add database models and Alembic migrations setup
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/README.md
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/pyproject.toml
  backend/src/core/config.py
  backend/src/core/database.py
  backend/src/models/__init__.py
  backend/src/models/backtest.py
  backend/src/models/base.py
  backend/src/models/document.py
  backend/src/models/strategy.py
  backend/src/models/user.py
  memory-bank/activeContext.md
  memory-bank/progress.md
Owners: @fo-analytics/backend, @fo-analytics/documentation, @fo-analytics/platform-team

feat: Implement repository pattern for data access layer
  backend/pyproject.toml
  backend/src/api/users.py
  backend/src/core/dependencies.py
  backend/src/main.py
  backend/src/repositories/README.md
  backend/src/repositories/__init__.py
  backend/src/repositories/backtest.py
  backend/src/repositories/base.py
  backend/src/repositories/document.py
  backend/src/repositories/strategy.py
  backend/src/repositories/unit_of_work.py
  backend/src/repositories/user.py
  backend/src/services/__init__.py
  backend/src/services/user_service.py
  backend/tests/conftest.py
  backend/tests/unit/repositories/test_user_repository.py
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
Owners: @fo-analytics/backend, @fo-analytics/api-team, @fo-analytics/platform-team, @fo-analytics/documentation, @fo-analytics/qa-team

feat: Implement JWT-based authentication system
  backend/pyproject.toml
  backend/src/api/auth.py
  backend/src/core/auth.py
  backend/src/core/config.py
  backend/src/core/security.py
  backend/src/main.py
  backend/src/schemas/__init__.py
  backend/src/schemas/auth.py
  backend/src/services/auth_service.py
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
Owners: @fo-analytics/backend, @fo-analytics/api-team, @fo-analytics/platform-team, @fo-analytics/documentation

refactor: Clean up Python import structure
  backend/__init__.py
  backend/alembic/env.py
  backend/pyproject.toml
  backend/run.py
  backend/src/api/health.py
  backend/src/api/users.py
  backend/src/core/dependencies.py
  backend/src/main.py
  backend/src/middleware/logging.py
  backend/src/repositories/backtest.py
  backend/src/repositories/base.py
  backend/src/repositories/document.py
  backend/src/repositories/strategy.py
  backend/src/repositories/unit_of_work.py
  backend/src/repositories/user.py
  backend/src/services/user_service.py
  backend/src/utils/logging.py
  backend/src/utils/logging_config_example.py
  backend/tests/conftest.py
  backend/tests/unit/repositories/test_user_repository.py
  backend/tests/unit/test_logging.py
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/techContext.md
Owners: @fo-analytics/backend, @fo-analytics/api-team, @fo-analytics/platform-team, @fo-analytics/qa-team, @fo-analytics/documentation

test: Add comprehensive test suite for authentication and health endpoints
  backend/pyproject.toml
  backend/src/api/auth.py
  backend/src/api/backtests.py
  backend/src/api/documents.py
  backend/src/api/strategies.py
  backend/src/core/auth.py
  backend/src/core/security.py
  backend/src/repositories/unit_of_work.py
  backend/src/repositories/user.py
  backend/src/schemas/auth.py
  backend/src/schemas/backtest.py
  backend/src/schemas/document.py
  backend/src/schemas/strategy.py
  backend/src/services/auth_service.py
  backend/tests/conftest.py
  backend/tests/unit/api/test_auth.py
  backend/tests/unit/api/test_health.py
Owners: @fo-analytics/backend, @fo-analytics/api-team, @fo-analytics/platform-team, @fo-analytics/qa-team

test: Add comprehensive unit tests for document API endpoints
  backend/src/api/users.py
  backend/tests/unit/api/test_documents.py
  backend/tests/unit/api/test_users.py
  backend/tests/unit/services/test_auth_service.py
  backend/tests/unit/test_core_auth.py
  backend/tests/unit/test_security.py
Owners: @fo-analytics/api-team, @fo-analytics/qa-team

test: Add comprehensive unit tests for strategy and backtest API endpoints
  backend/tests/unit/api/test_backtests.py
  backend/tests/unit/api/test_strategies.py
Owners: @fo-analytics/qa-team

feat: Implement comprehensive test suite achieving 84% coverage
  backend/.coveragerc
  backend/src/repositories/backtest.py
  backend/src/repositories/base.py
  backend/src/repositories/document.py
  backend/src/repositories/strategy.py
  backend/tests/unit/repositories/test_backtest_repository.py
  backend/tests/unit/repositories/test_document_repository.py
  backend/tests/unit/repositories/test_strategy_repository.py
  backend/tests/unit/repositories/test_unit_of_work.py
  backend/tests/unit/schemas/test_auth_schemas.py
  backend/tests/unit/schemas/test_document_schemas.py
  backend/tests/unit/schemas/test_strategy_schemas.py
  backend/tests/unit/schemas/test_user_schemas.py
  backend/tests/unit/services/test_user_service.py
  backend/tests/unit/test_config.py
  memory-bank/activeContext.md
  memory-bank/progress.md
Owners: @fo-analytics/backend, @fo-analytics/qa-team, @fo-analytics/documentation

feat: Add Tilt.dev for streamlined local development environment
  Makefile
  Tiltfile
  memory-bank/activeContext.md
  memory-bank/techContext.md
Owners: @fo-analytics/engineering, @fo-analytics/documentation

feat: Implement MinIO/S3 document storage service
  backend/.env.example
  backend/pyproject.toml
  backend/src/api/documents.py
  backend/src/core/config.py
  backend/src/services/storage.py
  backend/tests/api/test_documents_minio.py
  backend/tests/services/test_storage.py
  docker-compose.yml
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
Owners: @fo-analytics/security, @fo-analytics/backend, @fo-analytics/api-team, @fo-analytics/platform-team, @fo-analytics/qa-team, @fo-analytics/devops, @fo-analytics/documentation

feat: Implement PDF parsing service with LlamaIndex
  backend/Dockerfile.dev
  backend/alembic/env.py
  backend/alembic/versions/ceefb50e77b4_add_extracted_text_field_to_documents_.py
  backend/pyproject.toml
  backend/src/api/documents.py
  backend/src/models/document.py
  backend/src/schemas/document.py
  backend/src/services/document_parser.py
  backend/tests/services/test_document_parser.py
  docker-compose.yml
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
Owners: @fo-analytics/devops, @fo-analytics/backend, @fo-analytics/api-team, @fo-analytics/qa-team, @fo-analytics/documentation

fix: Resolve Tilt configuration issues and update memory bank
  Tiltfile
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
Owners: @fo-analytics/engineering, @fo-analytics/documentation

feat: Implement multi-provider LLM integration for strategy extraction
  backend/.env.example
  backend/src/core/config.py
  backend/src/services/llm/README.md
  backend/src/services/llm/__init__.py
  backend/src/services/llm/base.py
  backend/src/services/llm/factory.py
  backend/src/services/llm/providers/__init__.py
  backend/src/services/llm/providers/anthropic.py
  backend/src/services/llm/providers/gemini.py
  backend/src/services/llm/providers/openai.py
  backend/src/services/llm/service.py
  backend/tests/unit/services/test_llm_providers.py
  backend/tests/unit/services/test_llm_service.py
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
Owners: @fo-analytics/security, @fo-analytics/platform-team, @fo-analytics/documentation, @fo-analytics/backend, @fo-analytics/qa-team

feat: Implement RabbitMQ document processing pipeline
  Makefile
  Tiltfile
  backend/.env.example
  backend/pyproject.toml
  backend/scripts/test_document_pipeline.py
  backend/src/api/documents.py
  backend/src/core/config.py
  backend/src/main.py
  backend/src/messaging/README.md
  backend/src/messaging/__init__.py
  backend/src/messaging/connection.py
  backend/src/messaging/consumer.py
  backend/src/messaging/publisher.py
  backend/src/messaging/schemas.py
  backend/src/worker.py
  backend/tests/integration/test_document_processing_pipeline.py
  backend/tests/messaging/__init__.py
  backend/tests/messaging/conftest.py
  backend/tests/messaging/test_connection.py
  backend/tests/messaging/test_consumer.py
  backend/tests/messaging/test_coverage_summary.md
  backend/tests/messaging/test_publisher.py
  backend/tests/messaging/test_schemas.py
  backend/tests/unit/api/test_documents_queue.py
  docker-compose.yml
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
Owners: @fo-analytics/engineering, @fo-analytics/security, @fo-analytics/backend, @fo-analytics/api-team, @fo-analytics/platform-team, @fo-analytics/documentation, @fo-analytics/qa-team, @fo-analytics/devops

feat: Implement WebSocket support for real-time updates
  backend/src/api/documents.py
  backend/src/api/routes/ws.py
  backend/src/api/websockets.py
  backend/src/main.py
  backend/src/messaging/consumer.py
  backend/tests/messaging/test_consumer_websocket.py
  backend/tests/test_websocket_integration.py
  backend/tests/test_websockets.py
  frontend/src/App.tsx
  frontend/src/features/documents/DocumentsPage.tsx
  frontend/src/hooks/__tests__/useWebSocket.test.tsx
  frontend/src/hooks/useWebSocket.ts
  frontend/src/services/__tests__/websocket.test.ts
  frontend/src/services/auth.ts
  frontend/src/services/websocket.ts
  memory-bank/activeContext.md
  memory-bank/progress.md
Owners: @fo-analytics/api-team, @fo-analytics/backend, @fo-analytics/qa-team, @fo-analytics/frontend, @fo-analytics/documentation

feat: Implement comprehensive backtesting integration
  Tiltfile
  backend/pyproject.toml
  backend/src/api/backtests.py
  backend/src/api/websockets.py
  backend/src/core/config.py
  backend/src/messaging/backtest_consumer.py
  backend/src/messaging/backtest_schemas.py
  backend/src/services/backtesting/__init__.py
  backend/src/services/backtesting/data_loader.py
  backend/src/services/backtesting/service.py
  backend/src/services/backtesting/strategies.py
  backend/src/workers/backtest_worker.py
  backend/tests/unit/api/test_backtests_api.py
  backend/tests/unit/services/backtesting/__init__.py
  backend/tests/unit/services/backtesting/test_data_loader.py
  backend/tests/unit/services/backtesting/test_service.py
  backend/tests/unit/services/backtesting/test_strategies.py
  docker-compose.yml
  memory-bank/activeContext.md
  memory-bank/progress.md
Owners: @fo-analytics/engineering, @fo-analytics/backend, @fo-analytics/api-team, @fo-analytics/platform-team, @fo-analytics/qa-team, @fo-analytics/devops, @fo-analytics/documentation

feat: Complete Sprint 2 - Interactive UI Components for Document Processing
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/backtests/BacktestResults.tsx
  frontend/src/features/backtests/__tests__/BacktestResults.test.tsx
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/documents/DocumentViewer.tsx
  frontend/src/features/documents/DocumentsPage.tsx
  frontend/src/features/documents/__tests__/DocumentViewer.test.tsx
  frontend/src/features/strategies/StrategiesPage.tsx
  frontend/src/hooks/useWebSocket.ts
  frontend/src/services/__tests__/backtests.test.ts
  frontend/src/services/__tests__/documents.test.ts
  frontend/src/services/backtests.ts
  frontend/src/services/documents.ts
  frontend/src/services/index.ts
  frontend/src/test/setup.ts
  frontend/vite.config.ts
  memory-bank/activeContext.md
  memory-bank/progress.md
Owners: @fo-analytics/frontend, @fo-analytics/documentation

docs: Update memory bank for Sprint 3 planning after Sprint 2 completion
  memory-bank/activeContext.md
  memory-bank/progress.md
Owners: @fo-analytics/documentation

fix: Complete Sprint 3 quick fixes - logging and backtest execution
  backend/src/api/backtests.py
  backend/src/api/documents.py
  backend/src/messaging/publisher.py
  backend/src/messaging/schemas.py
  backend/tests/unit/api/test_backtests_start.py
  backend/tests/unit/api/test_documents_logging.py
  backend/tests/unit/api/test_websockets.py
  backend/tests/unit/messaging/test_publisher_backtest.py
  backend/tests/unit/services/llm/test_llm_factory.py
  backend/tests/unit/services/test_document_parser_service.py
  memory-bank/activeContext.md
  memory-bank/progress.md
Owners: @fo-analytics/api-team, @fo-analytics/backend, @fo-analytics/qa-team, @fo-analytics/documentation

feat: Implement advanced portfolio optimization and risk metrics
  backend/pyproject.toml
  backend/src/api/portfolio.py
  backend/src/main.py
  backend/src/schemas/portfolio.py
  backend/src/services/backtesting/__init__.py
  backend/src/services/backtesting/data_loader.py
  backend/src/services/backtesting/multi_strategy.py
  backend/src/services/backtesting/portfolio_optimizer.py
  backend/src/services/backtesting/risk_metrics.py
  backend/src/services/backtesting/service.py
  backend/tests/unit/services/backtesting/test_multi_strategy.py
  backend/tests/unit/services/backtesting/test_portfolio_optimizer.py
  backend/tests/unit/services/backtesting/test_risk_metrics.py
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
Owners: @fo-analytics/backend, @fo-analytics/api-team, @fo-analytics/qa-team, @fo-analytics/documentation

feat: Implement AI Chat Interface backend
  backend/alembic/versions/202507241144_add_chat_session_and_message_tables.py
  backend/src/api/chat.py
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/chat.py
  backend/src/models/user.py
  backend/src/repositories/chat_repository.py
  backend/src/schemas/__init__.py
  backend/src/schemas/chat.py
  backend/src/services/chat_service.py
  memory-bank/activeContext.md
Owners: @fo-analytics/backend, @fo-analytics/api-team, @fo-analytics/documentation

feat: Implement AI Chat Interface frontend with comprehensive test coverage
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/features/ai-chat/AIChatPage.tsx
  frontend/src/features/ai-chat/ChatInterface.tsx
  frontend/src/features/ai-chat/ChatSidebar.tsx
  frontend/src/features/ai-chat/__tests__/AIChatPage.simple.test.tsx
  frontend/src/features/ai-chat/__tests__/AIChatPage.test.tsx
  frontend/src/features/ai-chat/__tests__/ChatInterface.test.tsx
  frontend/src/features/ai-chat/__tests__/ChatSidebar.test.tsx
  frontend/src/features/ai-chat/index.ts
  frontend/src/services/__tests__/chat.test.ts
  frontend/src/services/chat.ts
  frontend/src/store/index.ts
  frontend/src/store/slices/__tests__/chatSlice.test.ts
  frontend/src/store/slices/chatSlice.ts
  memory-bank/activeContext.md
  memory-bank/progress.md
Owners: @fo-analytics/frontend, @fo-analytics/ui-team, @fo-analytics/documentation

feat: Implement Monaco Editor for strategy code editing
  backend/src/api/strategies.py
  backend/src/models/strategy.py
  backend/src/schemas/strategy.py
  backend/tests/api/test_strategies_code.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/StrategyCodeEditor/StrategyCodeEditor.stories.tsx
  frontend/src/components/StrategyCodeEditor/StrategyCodeEditor.tsx
  frontend/src/components/StrategyCodeEditor/index.ts
  frontend/src/features/strategies/StrategiesPage.tsx
  memory-bank/activeContext.md
  memory-bank/progress.md
Owners: @fo-analytics/api-team, @fo-analytics/backend, @fo-analytics/qa-team, @fo-analytics/frontend, @fo-analytics/ui-team, @fo-analytics/documentation

feat: Implement interactive charting for strategy visualization
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Charts/DrawdownChart.tsx
  frontend/src/components/Charts/EquityChart.tsx
  frontend/src/components/Charts/PerformanceComparison.tsx
  frontend/src/components/Charts/__tests__/ChartErrorHandling.test.tsx
  frontend/src/components/Charts/__tests__/ChartHelpers.test.tsx
  frontend/src/components/Charts/__tests__/ChartTooltips.test.tsx
  frontend/src/components/Charts/__tests__/DrawdownChart.test.tsx
  frontend/src/components/Charts/__tests__/EquityChart.test.tsx
  frontend/src/components/Charts/__tests__/PerformanceComparison.test.tsx
  frontend/src/components/Charts/index.ts
  frontend/src/features/backtests/BacktestResults.tsx
  frontend/src/features/backtests/__tests__/BacktestResultsIntegration.test.tsx
  frontend/src/services/backtests.ts
  frontend/src/test/mocks/recharts.tsx
  frontend/src/utils/__tests__/chartExport.test.ts
  frontend/src/utils/chartExport.ts
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/techContext.md
Owners: @fo-analytics/frontend, @fo-analytics/ui-team, @fo-analytics/documentation

feat: Implement Portfolio Analytics Dashboard with comprehensive test coverage
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/features/portfolio/PortfolioPage.test.tsx
  frontend/src/features/portfolio/PortfolioPage.tsx
  frontend/src/features/portfolio/TEST_COVERAGE_SUMMARY.md
  frontend/src/features/portfolio/components/AllocationChart.test.tsx
  frontend/src/features/portfolio/components/AllocationChart.tsx
  frontend/src/features/portfolio/components/EfficientFrontierChart.test.tsx
  frontend/src/features/portfolio/components/EfficientFrontierChart.tsx
  frontend/src/features/portfolio/components/MultiStrategyAnalyzer.test.tsx
  frontend/src/features/portfolio/components/MultiStrategyAnalyzer.tsx
  frontend/src/features/portfolio/components/PortfolioOptimizer.test.tsx
  frontend/src/features/portfolio/components/PortfolioOptimizer.tsx
  frontend/src/features/portfolio/components/PortfolioOverview.test.tsx
  frontend/src/features/portfolio/components/PortfolioOverview.tsx
  frontend/src/features/portfolio/components/RiskAnalysis.test.tsx
  frontend/src/features/portfolio/components/RiskAnalysis.tsx
  frontend/src/features/portfolio/index.ts
  frontend/src/features/portfolio/mockData.ts
  frontend/src/features/portfolio/test-utils.tsx
  frontend/src/services/portfolio.test.ts
  frontend/src/services/portfolio.ts
  frontend/src/store/index.ts
  frontend/src/store/portfolioSlice.test.ts
  frontend/src/store/portfolioSlice.ts
  frontend/src/types/portfolio.ts
  memory-bank/activeContext.md
  memory-bank/progress.md
Owners: @fo-analytics/frontend, @fo-analytics/ui-team, @fo-analytics/documentation

fix: Restore Tilt development environment and fix all import errors
  Tiltfile
  backend/Dockerfile.dev
  backend/src/api/backtests.py
  backend/src/api/chat.py
  backend/src/api/portfolio.py
  backend/src/api/routes/ws.py
  backend/src/messaging/backtest_consumer.py
  backend/src/messaging/consumer.py
  backend/src/models/chat.py
  backend/src/repositories/chat_repository.py
  backend/src/schemas/chat.py
  backend/src/services/backtesting/risk_metrics.py
  backend/src/services/chat_service.py
  backend/src/services/llm/service.py
  docker-compose.yml
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/techContext.md
Owners: @fo-analytics/engineering, @fo-analytics/devops, @fo-analytics/api-team, @fo-analytics/backend, @fo-analytics/documentation

fix: Resolve Docker volume conflicts with .venv directories
  docker-compose.yml
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/techContext.md
Owners: @fo-analytics/devops, @fo-analytics/documentation

fix: Resolve worker service startup issues
  backend/src/messaging/backtest_consumer.py
  backend/src/messaging/consumer.py
  memory-bank/activeContext.md
  memory-bank/progress.md
Owners: @fo-analytics/backend, @fo-analytics/documentation

fix: Fix TypeScript import errors by adding type keyword for type-only imports
  frontend/src/components/StrategyCodeEditor/StrategyCodeEditor.tsx
  frontend/src/features/ai-chat/ChatSidebar.tsx
  frontend/src/features/portfolio/components/MultiStrategyAnalyzer.tsx
  frontend/src/features/portfolio/components/PortfolioOptimizer.tsx
  frontend/src/features/portfolio/components/PortfolioOverview.tsx
  frontend/src/features/portfolio/components/RiskAnalysis.tsx
  frontend/src/features/portfolio/mockData.ts
  frontend/src/services/__tests__/websocket.test.ts
  frontend/src/services/portfolio.ts
  frontend/src/store/portfolioSlice.ts
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/techContext.md
Owners: @fo-analytics/ui-team, @fo-analytics/frontend, @fo-analytics/documentation

fix: export fixes
  frontend/package.json
  frontend/src/features/portfolio/components/MultiStrategyAnalyzer.test.tsx
  frontend/src/services/chat.ts
  frontend/src/store/slices/chatSlice.ts
Owners: @fo-analytics/frontend

fix: Resolve authentication API errors (422 and 401)
  backend/src/api/auth.py
  frontend/src/services/api.ts
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/techContext.md
Owners: @fo-analytics/api-team, @fo-analytics/frontend, @fo-analytics/documentation

fix: Resolve WebSocket connection errors
  backend/src/api/routes/ws.py
  backend/src/api/websockets.py
Owners: @fo-analytics/api-team

fix: Handle paginated response structure in documents list
  frontend/src/features/documents/DocumentsPage.tsx
  frontend/src/services/documents.ts
Owners: @fo-analytics/frontend

docs: Update memory bank with recent fixes
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/techContext.md
Owners: @fo-analytics/documentation

feat: Switch LLM provider from Anthropic to Google Gemini
  .env.example
  README.md
  backend/src/services/llm/providers/gemini.py
  docker-compose.yml
  docs/API_KEYS_SETUP.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  scripts/test_api_key.py
  scripts/test_gemini_integration.py
Owners: @fo-analytics/security, @fo-analytics/documentation, @fo-analytics/backend, @fo-analytics/devops, @fo-analytics/engineering

fix: Resolve chat functionality issues and update memory bank
  backend/src/api/chat.py
  backend/src/models/chat.py
  backend/src/repositories/chat_repository.py
  frontend/src/features/ai-chat/ChatSidebar.tsx
  frontend/src/services/__tests__/chat.test.ts
  frontend/src/services/api.ts
  frontend/src/services/chat.ts
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
Owners: @fo-analytics/api-team, @fo-analytics/backend, @fo-analytics/frontend, @fo-analytics/documentation

fix: Add missing chat API endpoints and fix hydration error
  backend/src/api/chat.py
  frontend/src/features/ai-chat/ChatSidebar.tsx
Owners: @fo-analytics/api-team, @fo-analytics/frontend

fix: Correct metadata field access in chat API
  backend/src/api/chat.py
  backend/src/repositories/chat_repository.py
Owners: @fo-analytics/api-team, @fo-analytics/backend

docs: Update memory bank with additional chat fixes
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
Owners: @fo-analytics/documentation

fix: Resolve AI chat streaming errors with Gemini integration
  backend/src/services/chat_service.py
  backend/src/services/llm/providers/gemini.py
  backend/src/services/llm/service.py
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/techContext.md
Owners: @fo-analytics/backend, @fo-analytics/documentation

.github/CODEOWNERS:

# Default owners for everything in the repo
* @fo-analytics/engineering

# Backend code owners
/backend/ @fo-analytics/backend
/backend/src/api/ @fo-analytics/api-team
/backend/src/core/ @fo-analytics/platform-team
/backend/tests/ @fo-analytics/qa-team

# Frontend code owners
/frontend/ @fo-analytics/frontend
/frontend/src/components/ @fo-analytics/ui-team
/frontend/src/store/ @fo-analytics/frontend

# Infrastructure and DevOps
/.github/ @fo-analytics/devops
/docker/ @fo-analytics/devops
/k8s/ @fo-analytics/devops
docker-compose.yml @fo-analytics/devops
Dockerfile* @fo-analytics/devops

# Documentation
*.md @fo-analytics/documentation
/docs/ @fo-analytics/documentation

# Security-sensitive files
.env* @fo-analytics/security
**/auth/ @fo-analytics/security
**/security/ @fo-analytics/security
